@font-face {
  font-family: 'Dovemayo_gothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 100;
  }

  100% {
    opacity: 0;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(100px) scale(.2);
  }

  100% {
    transform: translateX(0px) scale(1);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes expand {
  0% {
    transform: translateX(100px);
  }

  100% {
    transform: translateX(0px);
  }
}

.App {
  text-align: center;
  background: #f2d99f;
  height: 100vh;
}
.normal {
  font-weight: 400
}

.bold {
  font-weight: 700
}

.bolder {
  font-weight: 800
}

.light {
  font-weight: 300
}

.font-big{
  font-size: 35px;
}

.Nav{
  margin:35px 15px 35px 35px;
  height: 92vh;
  width: 9vw;
  border-radius: 25px;
  box-shadow: 4px 4px 5px 2px rgba(193, 193, 193, 0.38);
}
i{
  font-size: 45px;
}

.Content{
  animation: slideDown .8s ease forwards;
  border-radius: 25px;
  box-shadow: 0px 4px 5px 2px rgba(193, 193, 193, 0.38);
  width: 80vw;
  height: 92vh;
  background-color: #ffffff;
  margin: 35px;
  padding: 100px;
}

.mainLogo{
  animation: fadeIn 5s forwards;
}

.surveyStart{
  animation: fadeIn 10s forwards;
}

.surveyButton{
  animation: slideUp 1s ease-in-out forwards;
  font-size: 30px;
  border-radius: 25px;
}

.nav-link{
  font-size:15px;
}

.ChatContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;

}


.ChatHeader {
  padding-top: 20px;
  text-align: center;
  color: #333;
  
}

.ChatContent {
  padding-top: 20px;
  flex-grow: 1;
  overflow-y: auto; /* Allow content to scroll if it exceeds the height */
  padding-bottom: 60px; /* Adjust as needed to account for the input container's height */
}

.ChatQuestion,
.ChatAnswer {
  margin-bottom: 10px;
}

input[type="text"] {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

button {
  padding: 8px 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.ChatMessage {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.UserMessage  {
  justify-content: flex-end;

  padding-right: 40px;

  color: #fff;
}

.HappbeeMessage  {

  color: #fff;

  padding-left: 40px;
  justify-content: flex-start;
}

.SenderMessageBubble {

  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  max-width: 80%;
  word-wrap: break-word;
  background-color: #4caf50; /* 버블 배경색 추가 (사용자 메시지에 대한 예시) */
  color: #fff; 
}


.GiverMessageBubble {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  max-width: 80%;
  word-wrap: break-word;
  background-color: #D2691E; /* 버블 배경색 추가 (사용자 메시지에 대한 예시) */
  color: #fff; 
}

.ChatInputContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.ChatContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;

  max-height:fit-content;
  flex-direction: column;
  justify-content: space-between;
  max-height: 820px; /* Prompt height */

  height: 100vh; /* Full height of the viewport */
}

.ProfileContainer {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.ProfilePicture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url("./assets/main_logo.png"); 
  background-size: cover;
  margin-right: 10px;
}

.ProfileInfo {
  margin-left: 10px;
}

.main1{
  margin: auto;
}
.titled{
  margin: 50px 0px 50px 0px; 
}
.chattingStart{
  margin: 20px 0px 0px 0px;
  padding: 20px 20px;
}
.main2{
  margin: auto;
}
.cat_3{
  margin: 60px 0px 50px 0px; 
}
.gauge{
  margin: 20px 0px 0px 0px;
}
.itemButton{
  margin: 50px 0px 0px 0px;
  padding: 20px 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.chart-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Add spacing between the charts if needed */
}

.chart {
  height: 300px; /* Adjust as needed */
  width: 500px; /* Adjust as needed */
  /* Add other chart-specific styles here */
}

.card{
  width: 10%;
  height: 15vh;
  margin: auto;
}
.it{
  margin: auto;
}
.Character{
  margin: 0px 0px 50px 0px;
}
.item_cat{
  margin-left:28%;
}
.cat_talk{
  margin-left: 2%;
}
.b {
  border: 0.5vmin solid black;
}

.r {
  border-radius: 100%;
}

.hb::before,
.ha::after {
  content: "";
  display: block;
  position: absolute;
}
.bubble {
  width: 330px;
  height: 150px;
  left: 70%;
  top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 4.3vmin;
  background: #ffd;
  box-shadow: 0 -0.15vmin, 0 0.125vmin;
  font-family: 'Dovemayo_gothic',"Comic Sans", "Comic Neue", sans-serif;
}

.bubble::before {
  width: 10%;
  height: 10%;
  bottom: 65.5%;
  border-radius: 50%;
  left: 68%;
  box-shadow: 0.5vmin 0, 2vmin -0.5vmin #ffd, 2vmin -0.5vmin 0 0.5vmin;
  clip-path: polygon(0% 49%, 150% 48%, 150% 100%, 0% 100%);
}